# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Installer / Build
build/
dist/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Project specific
test_output/
*.log
